{% include head.html %}
    <link href="{{ '/assets/lib/owlcarousel/assets/owl.carousel.min.css' | absolute_url }}" rel="stylesheet">
    <link href="{{ '/assets/lib/lightbox/css/lightbox.min.css' | absolute_url }}" rel="stylesheet">
    <link href="{{ '/assets/css/home.css' | absolute_url }}" rel="stylesheet">
</head>

<body>
{% include header.html hide_background=true use_space=false %}
<div class="mask"></div>
<div class="playbrdr">
    <div class="videoclose"><i class="ion-ios-close-circle-outline"></i></div>
    <iframe src="" frameborder="0" width="100%" height="100%"></iframe>
</div>
{% include intro-banner.html %}
<main id="main">
    <section id="about">
        <div class="container">
            <header class="section-header">
                <h3>{% t home.introduction %}</h3>
                <p>{% t home.introduction_content %}</p>
            </header>
            <div class="row about-cols">
                {% for feature in site.translations[site.lang].home.features %}
                {% assign feature_d = site.data.features[forloop.index0] %}
                <div class="col-md-4 wow fadeInUp" data-wow-delay="{{ feature_d.delay }}">
                    <div class="about-col">
                        <div class="img">
                            <img src="{{ feature_d.img | absolute_url }}" alt="" class="img-fluid">
                            <div class="icon"><i class="ion-ios-unlock"></i></div>
                        </div>
                        <h2 class="title">{{ feature.title }}</h2>
                        <p>{{ feature.content }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="mining" id="{% t nav.mining %}">
        <div class="container">
            <header class="section-header wow fadeInUp">
                <h3>{% t home.mining %}</h3>
                <p>{% t home.mining_content %}</p>
            </header>
            <div class="row">
                {% for guide in site.translations[site.lang].home.mining_guides %}
                {% assign guide_d = site.data.mining-guides[forloop.index0] %}
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="{{ guide_d.delay }}">
                    <div class="icon"><i class="{{ guide_d.icon }}"></i></div>
                    <h4 class="title">
                        {% if forloop.index0 == 0 %}<a href="#{% t nav.wallet %}">{{ guide.title }}</a>{% endif %}
                        {% if forloop.index0 == 1 %}<a class="playvideo">{{ guide.title }}</a>{% endif %}
                        {% if forloop.index0 == 2 %}<a href="{% tl pools %}" class="pool">{{ guide.title }}</a>{% endif %}
                    </h4>
                    <p class="description">{{ guide.content }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section id="{% t nav.wallet %}" class="wallets section-bg" >
        <div class="container">
            <header class="section-header">
                <h3 class="section-title">{% t home.software %}</h3>
                <p>{% t home.software_content %}</p>
            </header>
            <div class="row justify-content-center portfolio-container">
                {% for software in site.translations[site.lang].home.software_links %}
                {% assign software_d = site.data.software[forloop.index0] %}
                <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="{{ software_d.delay }}">
                    <div class="portfolio-wrap">
                        <div class="portfolio-info">
                            <div class="icons"><i class="{{ software_d.icon }}"></i></div>
                            <h4><a href="{{ software_d.href }}" target="_blank">{{ software.title }}</a></h4>
                            <p>{{ software.content }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% include roadmap.html %}
    <section id="{% t nav.community %}" class="community wow fadeInUp">
        <div class="container">
            <header class="section-header">
                <h3>{% t home.community %}</h3>
            </header>
            <div class="owl-carousel clients-carousel">
                {% for d in site.data.community %}
                <a href="{{ d.href }}" class="owl-{{ d.alt }}" target="_blank">
                  <img src="{{ d.pic | absolute_url }}" alt="{{ d.alt }} community">
                </a>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% include footer.html %}
<script src="{{ '/assets/lib/waypoints/waypoints.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/lib/owlcarousel/owl.carousel.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/lib/lightbox/js/lightbox.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/lib/touchSwipe/jquery.touchSwipe.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/lib/threejs/three.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/js/home.js' | absolute_url }}"></script>


<script type="text/javascript">
  
  /**
 * Hilbert Curve: Generates 2D-Coordinates in a very fast way.
 *
 * @author Dylan Grafmyre
 *
 * Based on work by:
 * @author Thomas Diewald
 * @link http://www.openprocessing.org/visuals/?visualID=15599
 *
 * Based on `examples/canvas_lines_colors.html`:
 * @author OpenShift guest
 * @link https://github.com/mrdoob/three.js/blob/8413a860aa95ed29c79cbb7f857c97d7880d260f/examples/canvas_lines_colors.html
 * @see  Line 149 - 186
 *
 * @param center     Center of Hilbert curve.
 * @param size       Total width of Hilbert curve.
 * @param iterations Number of subdivisions.
 * @param v0         Corner index -X, +Y, -Z.
 * @param v1         Corner index -X, +Y, +Z.
 * @param v2         Corner index -X, -Y, +Z.
 * @param v3         Corner index -X, -Y, -Z.
 * @param v4         Corner index +X, -Y, -Z.
 * @param v5         Corner index +X, -Y, +Z.
 * @param v6         Corner index +X, +Y, +Z.
 * @param v7         Corner index +X, +Y, -Z.
 */
function hilbert3D( center, size, iterations, v0, v1, v2, v3, v4, v5, v6, v7 ) {

  // Default Vars
  var center = undefined !== center ? center : new THREE.Vector3( 0, 0, 0 ),
    size = undefined !== size ? size : 10,
    half = size / 2,
    iterations = undefined !== iterations ? iterations : 1,
    v0 = undefined !== v0 ? v0 : 0,
    v1 = undefined !== v1 ? v1 : 1,
    v2 = undefined !== v2 ? v2 : 2,
    v3 = undefined !== v3 ? v3 : 3,
    v4 = undefined !== v4 ? v4 : 4,
    v5 = undefined !== v5 ? v5 : 5,
    v6 = undefined !== v6 ? v6 : 6,
    v7 = undefined !== v7 ? v7 : 7
  ;

  var vec_s = [
    new THREE.Vector3( center.x - half, center.y + half, center.z - half ),
    new THREE.Vector3( center.x - half, center.y + half, center.z + half ),
    new THREE.Vector3( center.x - half, center.y - half, center.z + half ),
    new THREE.Vector3( center.x - half, center.y - half, center.z - half ),
    new THREE.Vector3( center.x + half, center.y - half, center.z - half ),
    new THREE.Vector3( center.x + half, center.y - half, center.z + half ),
    new THREE.Vector3( center.x + half, center.y + half, center.z + half ),
    new THREE.Vector3( center.x + half, center.y + half, center.z - half )
  ];

  var vec = [
    vec_s[ v0 ],
    vec_s[ v1 ],
    vec_s[ v2 ],
    vec_s[ v3 ],
    vec_s[ v4 ],
    vec_s[ v5 ],
    vec_s[ v6 ],
    vec_s[ v7 ]
  ];

  // Recurse iterations
  if ( -- iterations >= 0 ) {

    var tmp = [];

    Array.prototype.push.apply( tmp, hilbert3D( vec[ 0 ], half, iterations, v0, v3, v4, v7, v6, v5, v2, v1 ) );
    Array.prototype.push.apply( tmp, hilbert3D( vec[ 1 ], half, iterations, v0, v7, v6, v1, v2, v5, v4, v3 ) );
    Array.prototype.push.apply( tmp, hilbert3D( vec[ 2 ], half, iterations, v0, v7, v6, v1, v2, v5, v4, v3 ) );
    Array.prototype.push.apply( tmp, hilbert3D( vec[ 3 ], half, iterations, v2, v3, v0, v1, v6, v7, v4, v5 ) );
    Array.prototype.push.apply( tmp, hilbert3D( vec[ 4 ], half, iterations, v2, v3, v0, v1, v6, v7, v4, v5 ) );
    Array.prototype.push.apply( tmp, hilbert3D( vec[ 5 ], half, iterations, v4, v3, v2, v5, v6, v1, v0, v7 ) );
    Array.prototype.push.apply( tmp, hilbert3D( vec[ 6 ], half, iterations, v4, v3, v2, v5, v6, v1, v0, v7 ) );
    Array.prototype.push.apply( tmp, hilbert3D( vec[ 7 ], half, iterations, v6, v5, v2, v1, v0, v3, v4, v7 ) );

    // Return recursive call
    return tmp;

  }

  // Return complete Hilbert Curve.
  return vec;

}
</script>

<script type="text/javascript">
  
//if ( ! Detector.webgl ) Detector.addGetWebGLMessage();
var renderer, scene, camera, stats;
var objects = [];
var WIDTH = window.innerWidth, HEIGHT = window.innerHeight;
init();
animate();

function init() {
  camera = new THREE.PerspectiveCamera( 60, WIDTH / HEIGHT, 1, 200 );
  camera.position.z = 150;
  scene = new THREE.Scene();
  scene.background = new THREE.Color( 0x14141e );
  scene.fog = new THREE.Fog( 0x14141e, 0, 200 );
  var subdivisions = 24;
  var recursion = 1;
  var points = hilbert3D( new THREE.Vector3( 0, 0, 0 ), 100.0, recursion);
  var spline = new THREE.CatmullRomCurve3( points );
  var samples = spline.getPoints( points.length * subdivisions );
  var geometrySpline = new THREE.BufferGeometry().setFromPoints( samples );
  var line = new THREE.Line( geometrySpline, new THREE.LineDashedMaterial( { color: 0xffffff, dashSize: 100, gapSize: 0 } ) );
  line.computeLineDistances();
  objects.push( line );
  scene.add( line );

  //var geometryCube = cube( 50 );
  //var lineSegments = new THREE.LineSegments( geometryCube, new THREE.LineDashedMaterial( { color: 0xffaa00, dashSize: 3, gapSize: 1, linewidth: 2 } ) );
  //lineSegments.computeLineDistances();
  //objects.push( lineSegments );
  //scene.add( lineSegments );

  renderer = new THREE.WebGLRenderer( { antialias: true } );
  renderer.setPixelRatio( window.devicePixelRatio );
  renderer.setSize( WIDTH, HEIGHT );

  var container = document.querySelector( '.js-intro-banner' );
  container.appendChild( renderer.domElement );
  window.addEventListener( 'resize', onWindowResize, false );
}

function cube( size ) {
  var h = size * 0.5;
  var geometry = new THREE.BufferGeometry();
  var position = [];
  position.push(
    -h, -h, -h,
    -h, h, -h,
    -h, h, -h,
    h, h, -h,
    h, h, -h,
    h, -h, -h,
    h, -h, -h,
    -h, -h, -h,
    -h, -h, h,
    -h, h, h,
    -h, h, h,
    h, h, h,
    h, h, h,
    h, -h, h,
    h, -h, h,
    -h, -h, h,
    -h, -h, -h,
    -h, -h, h,
    -h, h, -h,
    -h, h, h,
    h, h, -h,
    h, h, h,
    h, -h, -h,
    h, -h, h
   );
  geometry.addAttribute( 'position', new THREE.Float32BufferAttribute( position, 3 ) );
  return geometry;
}

function onWindowResize() {
  camera.aspect = window.innerWidth / window.innerHeight;
  camera.updateProjectionMatrix();
  renderer.setSize( window.innerWidth, window.innerHeight );
}

function animate() {
  requestAnimationFrame( animate );
  render();
}

function render() {
  var time = Date.now() * 0.0005;
  scene.traverse( function( object ) {
    if ( object.isLine ) {
      object.rotation.x = 0.25 * time;
      object.rotation.y = 0.25 * time;
    }
  } );
  renderer.render( scene, camera );
}




</script>

</body>
</html>
